<section class="movie__section">
  <div class="movie__container">
    <!-- spiner -->
    <div class="spiner__container hidden">
      <div class="spiner__switchbox">
        <div class="spiner__switch"></div>
        <div class="spiner__switch"></div>
      </div>
    </div>
    <!-- spiner -->
    <h1 class="hidden">Filmoteka</h1>
    <h2 class="hidden">Films gallery</h2>
    <ul id="card-set-js" class="movie__list card-set"></ul>
    <div id="pagination" class="tui-pagination tui-pagination--is-hidden"></div>
  </div>
</section>
